<div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <!-- <img class="img-fluid" src="{{book.portada}}" alt="{{book.titulo}}"> -->
              </p>
              <h4  class="card-title">titulo</h4>
              <p class="card-text">
                descripcion
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  precio
                </p>
                <p class="badge badge-info">
                 idioma
                </p>
              </div>
              <a href="{{book.link_amazon}}" class="btn btn-block btn-primary" target="_blank">Buy</a>
            </div>
          </div>
        </div>